items assets kind software-package url https://raw.github.com/rsugar/KeepAlive/blob/master/jb841x32.ipa kind display-image url https://appletech752.com/icon.png kind full-size-image url https://appletech752.com/icon.png metadata bundle-identifier org.tihmstar.Etason-JB bundle-version 1.0 kind software title Etason JB
